:root {
  --color-primary:#EB2F64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,.3);
}

.fade {
  margin: 50px;
  padding: 50px;
  opacity: 1;
}

.anim {
  opacity: 0;
  -webkit-animation: infinite;
          animation: infinite;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

*,
*::before
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 65.5%;
}

body {
  font-family: 'Spartan',sans-serif;
  font-size: 12px;
  background-color: black;
  overflow-x: hidden;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100rem;
}

.toggler {
  background-color: transparent;
  border: none;
  color: white;
  padding: 3rem;
  position: fixed;
  z-index: 100;
  visibility: hidden;
}

.nav {
  background-color: black;
  height: 100vh;
  position: fixed;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav_links {
  position: relative;
  height: 100vh;
  width: 97vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10rem;
  font-size: 1rem;
}

.option {
  text-decoration: none;
  color: white;
  position: relative;
}

.option::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #EB2F64;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.option:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.option:hover {
  color: white;
  text-decoration: unset;
}

.links > li {
  font-size: 6rem;
  list-style: none;
  line-height: 1.5;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94%;
  padding-top: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  z-index: 4;
  position: fixed;
}

.navbar__list {
  list-style: none;
}

.navbar__item {
  display: inline-block;
  margin-left: 5vw;
}

.navbar__links {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bolder;
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
  color: #a3a3a3;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  -webkit-transition: color 0.1s, background-color 0.1s;
  transition: color 0.1s, background-color 0.1s;
}

.navbar a {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transition: #fff 0.1s,background-color 0.1s,padding 0.2s ease-in;
  transition: #fff 0.1s,background-color 0.1s,padding 0.2s ease-in;
  color: white;
}

.navbar a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--color-primary-light);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: color 0.1s,-webkit-transform 0.2s ease-out;
  transition: color 0.1s,-webkit-transform 0.2s ease-out;
  transition: color 0.1s,transform 0.2s ease-out;
  transition: color 0.1s,transform 0.2s ease-out,-webkit-transform 0.2s ease-out;
}

.navbar a:active::before {
  background-color: var(--color-primary-light);
}

.navbar a:hover::before, .navbar a:focus::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/7.jpg");
  background-position: bottom;
  position: relative;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 100vh;
  color: #fff;
  font-size: 4rem;
  letter-spacing: 2rem;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.hero__title__top {
  padding: 1.25rem;
}

.hero__title p {
  border-top: 0.5px solid rgba(255, 255, 255, 0.199);
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
}

.testimonial__heading {
  text-align: center;
  width: 60%;
  margin: auto;
  color: #fff;
  padding: 3rem;
}

.testimonial__heading h1 {
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.testimonial__heading p {
  font-size: .55;
  line-height: 2;
  opacity: 50%;
}

.testimonial__tile {
  padding-top: 4rem;
  width: 100%;
  padding-bottom: 6rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
}

.testimonial__tile__main, .testimonial__tile__left, .testimonial__tile__top, .testimonial__tile__right,
.testimonial__tile :hover {
  -webkit-transition: .7s;
  transition: .7s;
  opacity: 0.5;
  -webkit-box-shadow: 0 0 40px #f51344,0 0 10px #60b6fd, 0 0 10px #8bc0eb;
          box-shadow: 0 0 40px #f51344,0 0 10px #60b6fd, 0 0 10px #8bc0eb;
}

.testimonial__tile__main {
  background-image: url("../img/2.jpg");
  width: 20rem;
  height: 40rem;
}

.testimonial__tile__left {
  background-image: url("../img/6.jpg");
  width: 20rem;
  height: 40rem;
}

.testimonial__tile__right {
  background-image: url("../img/5.jpg");
  width: 20rem;
  height: 40rem;
}

.testimonial__tile__top {
  background-image: url("../img/1.png");
  width: 20rem;
  height: 40rem;
}

.testimonial__content {
  color: #fff;
  text-align: center;
  padding: 5rem;
  border-top: 0.55px solid rgba(255, 255, 255, 0.425);
  border-bottom: 0.55px solid rgba(255, 255, 255, 0.425);
  width: 50vw;
  margin: auto;
  font-style: italic;
  opacity: 0.6;
}

.testimonial__content a {
  line-height: 10;
  border: 0.55px solid rgba(255, 255, 255, 0.425);
  text-decoration: none;
  padding: 2rem;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 900;
}

.testimonial a:hover {
  background-color: #fff;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.artists__heading {
  text-align: center;
  width: 60%;
  margin: auto;
  color: #fff;
  padding: 3rem;
}

.artists__heading h1 {
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.artists__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 600px;
  grid-auto-flow: dense;
  padding: 4rem;
}

.artists__card__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.artists__card .one {
  background-image: url("../img/art-1.jpg");
}

.artists__card .two {
  background-image: url("../img/art-2.jpg");
}

.artists__card .three {
  background-image: url("../img/art-3.jpg");
}

.artists__card .four {
  background-image: url("../img/art-4.jpg");
}

.artists__card .five {
  background-image: url("../img/art-5.jpg");
}

.artists__card h1 {
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 4rem;
  padding: 2rem;
}

.artists__card h3 {
  letter-spacing: .5rem;
  padding: 2rem;
}

.artists__card p {
  padding: 2rem;
}

.events__heading {
  text-align: center;
  width: 60%;
  margin: auto;
  color: #fff;
  padding: 2rem;
  font-size: 4rem;
  letter-spacing: 2;
}

.events .gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.events .gallery .wide {
  grid-column: span 2;
}

.events .gallery .wide.one {
  background-image: url("../img/3.jpg");
  background-position: center;
  background-size: cover;
}

.events .gallery .wide.two {
  background-image: url("../img/1.jpg");
  background-position: center;
  background-size: cover;
}

.events .gallery .wide.three {
  background-image: url("../img/4.jpg");
  background-position: center;
  background-size: cover;
}

.events .gallery .wide.four {
  background-image: url("../img/8.jpg");
  background-position: center;
  background-size: cover;
}

.events .gallery .wide.five {
  background-image: url("../img/9.jpg");
  background-position: center;
  background-size: cover;
}

.events .gallery .wide.six {
  background-image: url("../img/13.jpg");
  background-position: center;
  background-size: cover;
}

.events .gallery .wide.seven {
  background-image: url("../img/10.jpg");
  background-position: center;
  background-size: cover;
}

.events .gallery .wide.eight {
  background-image: url("../img/11.jpg");
  background-position: center;
  background-size: cover;
}

.events .gallery .wide.nine {
  background-image: url("../img/14.jpg");
  background-position: top;
  background-size: cover;
}

.events .gallery .tall {
  grid-row: span 2;
}

.events__button {
  text-align: center;
  margin-bottom: 5rem;
}

.events__button a {
  line-height: 10;
  border: 0.55px solid rgba(255, 255, 255, 0.425);
  text-decoration: none;
  padding: 2rem;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 900;
}

.events a:hover {
  background-color: #fff;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer {
  margin: -1rem;
  padding: 2rem;
  width: 100%;
  height: 50rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(68, 10, 10, 0.719)), to(rgba(61, 2, 2, 0.548))), url("../img/12.jpg");
  background: linear-gradient(to top, rgba(68, 10, 10, 0.719), rgba(61, 2, 2, 0.548)), url("../img/12.jpg");
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
}

.newsletter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

.newsletter > h1 {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.8;
}

.form > input {
  background-color: transparent;
  width: 50%;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  color: #fff;
  padding: 1.5rem;
}

.form > a {
  background-color: transparent;
  border: 1px solid #fff;
  text-decoration: none !important;
  padding: 1rem;
  color: white;
}

.form > a:hover {
  color: #1d1d1d;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }
  .navbar {
    visibility: hidden;
  }
  .toggler {
    visibility: visible;
  }
  .artists__card__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .artists__card__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -3em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -3em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */